<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.member">
<!--  
	<resultMap id="memResult" type="com.dorecipe.main.member.vo">
		<result property="member_id" column="member_id"/>
		<result property="member_pwd" column="member_pwd"/>
		<result property="member_name" column="member_name"/>
		<result property="member_email" column="member_email"/>
		<result property="member_gender" column="member_gender"/>
		<result property="member_birth" column="member_birth"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_imagePath" column="member_imagePath"/>
		<result property="member_joinDate" column="member_joinDate"/>
		<result property="member_like" column="member_like"/>
		<result property="member_role" column="member_role"/>
	</resultMap>
-->
	<select id="selectAllMemberList" resultType="com.dorecipe.main.member.vo.MemberVO">
		select * from member
	</select>

<!-- 	
	<select id="findByMemberId" resultType="com.dorecipe.main.member.vo.MemberVO">
		select member_id from member where member_name = #{member_name} and member_phone = #{member_phone}
	</select>
-->		
	<update id="updateMember" parameterType="com.dorecipe.main.member.vo.MemberVO">
		update member
		set member_pwd=#{member_pwd} and member_email=#{member_email} and member_gender=#{member_gender} and member_phone=#{member_phone}
		where member_id = #{member_id}
	</update>
	
	<insert id="insertMember" parameterType="com.dorecipe.main.member.dao.MemberDAO">
		insert into member
		values(#{member_id}, #{member_pwd}, #{member_name},  "", #{member_gender},
		 #{member_birth}, #{member_phone}, #{member_imagePath}, now(), #{member_like}, "member")
	</insert>
<!--	
	<insert id="insertMember" parameterType="com.dorecipe.main.member.vo.MemberVO">
		insert into member
		values("ddd", "ddd", "디디", "ddd@naver.com", "여자",
		 "2004/01/01", "01020040101", null, now(), 0, "member")
	</insert>

	<insert id="insertMember" parameterType="com.dorecipe.main.member.dao.MemberDAO">
		insert into member(member_id, member_pwd, member_name, member_email, member_gender, member_birth, member_phone, member_joinDate,member_role)
		values(#{member_id}, #{member_pwd}, #{member_name}, #{member_email}, #{member_gender},
		 #{member_birth}, #{member_phone}, now(), #{member_role})
	</insert>
 -->
	
	<delete id="deleteMember" parameterType="string">
		delete from member where member_id = #{member_id}
	</delete>

</mapper>