<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorecipe.main.notice.dao.NoticeDAO"><!-- 매칭되는 인터페이스의 주소,풀네임 -->
  
  <!-- resultType은 쿼리의 결과를 담을 그릇, id는 쿼리문과 매핑되는 DAO에 정의한 함수명 -->
  <select id="getList" resultType="com.dorecipe.main.notice.vo.Notice">
    select * from notice order by notice_num desc
  </select>
  
<!--  <insert id="insert" parameterType="com.dorecipe.main.notice.dao.Notice">
  	insert into notice(...)
  </insert>
 --> 
</mapper>