<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorecipe.main.recipe.dao.RecipeDAO">

	<!-- 저장한 레시피목록 - savetype=0 -->
	<select id="getList" resultType="com.dorecipe.main.recipe.vo.RecipeVO">
		select * from recipe where recipe_savetype=0 order by recipe_num desc
	</select>
	
	<select id="getDetail" resultType="com.dorecipe.main.recipe.vo.RecipeVO"   parameterType="int">
      SELECT * from recipe
      where recipe_num = #{recipe_num}		
  	</select>
  	
  	<!-- 레시피재료 조회 -->
	<select id="getBundle" resultType="com.dorecipe.main.recipe.vo.RecipeVO"   parameterType="int">
	  select r.recipe_num,r.bundle,b.ing_ingredient,b.ing_amount from r_bundle r
	  inner join b_ingredient b
      on r.recipe_num=b.recipe_num and r.bundle_num=b.bundle_num
      where r.recipe_num = #{recipe_num}
  	</select>
  	
  	<!-- 요리순서 조회 -->
	<select id="getOrder" resultType="com.dorecipe.main.recipe.vo.RecipeVO"   parameterType="int">
	  select r.recipe_num,o.order_num,o.order_explain,o.order_path from recipe r
	  inner join r_order o
      on r.recipe_num=o.recipe_num
      where r.recipe_num = #{recipe_num}
  	</select>
  	
  	<!-- 코멘트 조회 -->
	<select id="getComment" resultType="com.dorecipe.main.recipe.vo.RecipeVO"   parameterType="int">
	  select * from comment where recipe_num=#{recipe_num} order by comment_num desc
  	</select>
  	
  	<!-- 레시피 등록 test -->
  	<insert id="insertRecipe" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  		insert into recipe
  		values(null, #{recipe_title}, 0, #{recipe_introduce}, #{recipe_url}, "이미지", #{recipe_tag},
  		#{category_kind}, #{category_theme}, #{category_way}, #{category_ing}, #{information_person}, #{information_time}, #{information_level},
  		"완성1", "완성2", "완성3", "완성4", "팁",
  		now(), "admin")
  		
  	</insert>

  	<!--
  	<insert id="insertBundle" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into b_ingredient values(#{recipe_num},#{bundle_num},#{ing_num}, #{ing_ingredient},#{ing_amount});
  	</insert>
  	
  	 	<insert id="insertBundle" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into b_ingredient values(#{bundle_num},#{ing_num}, #{ing_ingredient},#{ing_amount});
  	</insert>
  	-->
    <insert id="insertBundleIngredients" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into b_ingredient values(#{recipe_num}, #{bundle_num},#{ing_num}, #{ing_ingredient}, #{ing_amount});
  	</insert>
  	
  	
    <insert id="insertBundle" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into bundle values(#{recipe_num}, #{bundle_num},#{ing_num}, #{ing_ingredient}, #{ing_amount});
  	</insert>
  	
    <insert id="insertRecipeOrder" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into r_order(recipe_num,order_num,order_explain,order_path) values
  	<foreach collection="orderVoList" item="item" separator=",">
  	(#{item.recipe_num}, #{item.order_num},#{item.order_explain}, #{item.order_path})
  	</foreach>
  	;
  	</insert>
  	
  	
<!-- 원본 <insert id="insertRecipeOrder" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  	insert into r_order values(#{recipe_num}, #{order_num},#{order_explain}, #{order_path});
  	</insert>-->   
  	
  	
  	<!-- 레시피 수정 -->
  	<update id="updateRecipe" parameterType="com.dorecipe.main.recipe.dao.RecipeDAO">
  		update recipe
  		set
  			recipe_title = #{recipe_title},
  			recipe_introduce = #{recipe_introduce},
  			recipe_url = #{recipe_url},
  			recipe_tag = #{recipe_tag},
  			category_kind = #{category_kind}, 
  			category_theme = #{category_theme}, 
  			category_way = #{category_way}, 
  			category_ing = #{category_ing}, 
  			information_person = #{information_person}, 
  			information_time = #{information_time}, 
  			information_level = #{information_level}
		where recipe_num = #{recipe_num}  			
  	</update>
  	
  	<!-- 레시피 삭제 -->
  	<delete id="deleteRecipe" parameterType="int">
  		delete from recipe
  		where recipe_num=#{recipe_num}  		
  	</delete>
	
</mapper>