h2 {
    text-align: center;
    margin: 1em 0;
}

li {
    list-style: none;
}

.myPage-box1 {
    width: 800px;
    margin: 10px auto;
    padding: 40px 40px;
    background-color: lightblue;
    align-items: center;
}

.myPage-box2 {
    width: 800px;
    margin: 10px auto;
    padding: 40px 40px;
    background-color: pink;
    align-items: center;
}

.myPage-box3 {
    width: 800px;
    margin: 10px auto;
    padding: 40px 40px;
    background-color: lightgreen;
    align-items: center;
}

.myPage-box4 {
    width: 800px;
    margin: 10px auto;
    padding: 40px 40px;
    background-color: lightgrey;
    align-items: center;
}

.Wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

/* .Border {
    width: 100%;
    border-bottom: 1px solid #ad939156; 
    padding: 0.5em 0;
}

.title {
    padding: 2em 0.5em;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
} */

.memberInfo {
    border: 1px solid black;
    align-items: center;
}

.columnName {
    display: block;
    /* text-align-last: left; */
    padding: 15px 15px;
    font-weight: bold;
    
}

.profileImage {
    width: 160px;
    height: 160px;
    margin: 20px 20px;
}

.img_box{
    background-size: contain;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
}

.likeRecipeTotal {
    font-size: small;
}

/* .knowDetailDate {
    color: gray;
    font-size: 12px;
    margin: 0.5em 0 2em 0;
}

.knowDetailImage {
    margin: 0.5em 0 2em 0;
} */