ul {
    list-style: none;
}
/* 
.card :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    cursor: pointer;
} */

.recipe-box {
    width: 16rem;
    min-height: 21em;
    overflow-y: hidden;
    
}

/* .recipe-box :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    cursor: pointer;
} */

/* .myPage-box1 {
    width: 800px; 
    margin: 10px auto;
    padding: 40px 40px;
    background-color: lightblue;
    align-items: center;
} */

.myPage-box2 {
    /* width: 800px; */
    /* margin: 10px auto;
    padding: 40px 40px; */
    background-color: pink;
    /* align-items: center; */
}

.myPage-box3 {
    /* width: 800px;
    margin: 10px auto;
    padding: 40px 40px; */
    /* background-color: lightgreen; */
    /* align-items: center; */
}

.myPage-box4 {
    /* width: 800px;
    margin: 10px auto;
    padding: 40px 40px; */
    /* background-color: lightgrey; */
    /* align-items: center; */
}

/* .Border {
    width: 100%;
    border-bottom: 1px solid #ad939156; 
    padding: 0.5em 0;
}

.title {
    padding: 2em 0.5em;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
} */

.columnName {
    display: block;
    /* text-align-last: left; */
    padding: 15px 15px;
    font-weight: bold;
    
}

.profileImage {
    width: 150px;
    height: 150px;
    margin: 20px 20px;
}

.card-img-size{
    height: 15em;
    object-fit: cover;
}

.likeRecipeTotal {
    font-size: small;
}
